
nav h2 {
    text-transform: uppercase;
    color: #fcfcfc;
}
.navbar {
    text-transform: uppercase;
    background-color: #642e01;
}
.nav-link {
    color: #bfbdbe;
}
.nav-link:focus, .nav-link:hover {
    color: #fff7fb;
}